.intro-text {
  display: grid;
  place-items: center;
  background-color: black;
  color: white;
  min-height: 50vh;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap");

.bgColor {
  background-color: lemonchiffon;
  color: black;
}
.Common-Grid {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  padding: 20px;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  .button {
    background-color: yellow;
    border-radius: 20%;
    border: solid ghostwhite;
    font-weight: bold;
    width: 150px;
    padding: 15px 20px;
  }
}
