.body {
  background: #e2e1e0;
  text-align: center;
}
.content-margin{
  margin-top: 100px;
}
.first-margin-language{
  margin-top: 80px;
}

.topic-margin{
  margin-top: 30px;
}

.card {
  text-align: center;
  background: #fff;
  border-radius: 3px;
  display: inline-block;
  height: 300px;
  position: relative;
  width: 290px;
  overflow: hidden;
  margin: 10px 1rem 1rem;
}


.card .top img {
  height: 220px;
}

.card .bottom {
  margin-top:5px;
  height: 80px;
  width: 100%;
}



.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}