.language {
    display: inline;
}
.heading {
    font-size: 20px;
}
.compiler{
    margin-top: 100px;
    margin-left: 10px;
}
#source {
    width: 100% !important;
    background: #cccccc52;
    height: 50vh;
    font-size: 15px;
    resize: vertical;
}
#input {
    background: #cccccc52;
    width: 45.6%;
    height: 17vh;
    resize: vertical;
    font-size: 17px;
}
#output {
    background: #cccccc52;
    width: 50%;
    font-size: 18px;
    right: 0;
}
.language {
    width: 150px;
}